/* Coolors Exported Palette - coolors.co/151515-640d14-4f3824-6c5a49-ddb967 */

/* HSL */
$color1: hsla(0%, 0%, 8%, 1);
$color2: hsla(355%, 77%, 22%, 1);
$color3: hsla(28%, 37%, 23%, 1);
$color4: hsla(29%, 19%, 35%, 1);
$color5: hsla(42%, 63%, 64%, 1);

/* RGB */
$color1: rgba(21, 21, 21, 1);
$color2: rgba(100, 13, 20, 1);
$color3: rgba(79, 56, 36, 1);
$color4: rgba(108, 90, 73, 1);
$color5: rgba(221, 185, 103, 1);